<?xml version="1.0" encoding="UTF-8"?>

<!-- UW 20120615 -->
<!-- Added empty tag with name spaces in this web.xml file to avoid server log warning. -->

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
					xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
					
</web-app>